* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Ubuntu", Sans-serif;
}

body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #009FE3;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    color: #009FE3;
}

h1 {
    margin-bottom: 20px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 450px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}